body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background:#031321;
}

header legend{
    font-size: 27px;
}



.container > .special{
    background-color: #031321;
    color: #2196f3;
    position: relative;
    border: 5px solid #fff;
    opacity: 0;
    border-radius: 50%;

}

.container{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    font-size: 20px;
    overflow: hidden;
    /* grid-template-areas:
    "header header header"
    "advert content content"
    "footer footer footer"; */
}

button{
    background-color: #031321;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    border-radius: 8px;
}

button:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.15s;

} 

