others/bogdan/051 6-1-project-files.zip
others/bogdan/051 Build The Book List UI.en_US.srt
others/bogdan/051 Build The Book List UI.mp4
others/bogdan/052 6-2-project-files.zip
others/bogdan/052 Add Book To List.en_US.srt
others/bogdan/052 Add Book To List.mp4
others/bogdan/053 6-3-project-files.zip
others/bogdan/053 Validation & Alert.en_US.srt
others/bogdan/053 Validation & Alert.mp4
others/bogdan/051 6-1-project-files/6_1_project_files/booklist/app.js
others/bogdan/051 6-1-project-files/6_1_project_files/booklist/appes6.js
others/bogdan/051 6-1-project-files/6_1_project_files/booklist/index.html
others/bogdan/053 6-3-project-files/6_3_project_files/booklist/app.js
others/bogdan/053 6-3-project-files/6_3_project_files/booklist/appes6.js
others/bogdan/053 6-3-project-files/6_3_project_files/booklist/index.html
